body{
    background-image: url("https://img-3.journaldesfemmes.fr/ccHMwalcIsmwrOGEb7BveI1iVmc=/1080x/smart/2870981928a3445887a9c08fd363a4ba/ccmcms-jdf/13162574.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #5eb5e0;
}
h1{
    color: black;
}
